/* external style sheet */

body {background-color: #c6c7c8;}

h1 {
    background-color: rgba(224, 224, 119, 0.983);
}

body {background-color: rgb(241, 229, 229);}


* {
    border: 1px solid
}

p { 
    background-color: blueviolet;
}

p {
    color: rgb(199, 30, 70);
}

/* ID - unique value given to an element*/
#slick-img {
   width: 49.6%;
}

#rolling {
    width: 49.9%;
}

/* CLASS - a way to group similiar elements */

.lower1 {
    background-color: yellow
}

.lower2 {
    background-color: rgba(0, 221, 255, 0.979)
}

.lower3 {
    background-color: rgb(255, 119, 0)
}

.top {
    display: inline-table;
}


section {
    display: inline-block;
    width: 30%;
    height: 100px;
}

nav ul li {
    list-style: none;
    display: inline-flex;
}

nav ul li a {
    padding-top: 0%
    padding-bottom:0%
    padding-left: 5%0%;
}

nav ul li a {
    background-color: rgb(147, 192, 163);
}

main img {
    display: inline-flex;
}

header {
    background-color: rgb(186, 133, 235);
}

h2 {
    background-color: chartreuse;
}

section {
    background-color: chocolate;
}

footer {
    background-color: aqua;
}

p {
    color:mauve;
}